body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 50%;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

img {
  width: auto;
  max-height: 300px;
  object-fit: cover;
}


.cat-tiles {
  display: flex;
  flex-wrap: wrap;
}

.cat-tile {
  flex: 1 0 33.33%; /* flex-basis property set to 33.33% */
  margin: 20px;
  text-align: center;
}

.cat-thumbnail {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cat-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cat-description {
  font-size: 18px;
  color: #666;
}
